{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <form>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type='submit'>CheckOut</button>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for='address' class="">Address Line 1</label>
                        <!-- <input class="form-control" type="text" placeholder="123 Street"> -->
                        {{ form.street_address }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 2</label>
                        <!-- <input class="form-control" type="text" placeholder="apartment"> -->
                        {{ form.apartment_address }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                        {{ form.country }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State</label>
                        <!-- <input class="form-control" type="text" placeholder="Tehran"> -->
                        {{ form.state }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <!-- <input class="form-control" type="text" placeholder="Tehran"> -->
                        {{ form.city }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>ZIP Code</label>
                        <!-- <input class="form-control" type="text" placeholder="123"> -->
                        {{ form.zip_code }}
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <!-- <input type="checkbox" class="custom-control-input" id="newaccount"> -->
                            {{ form.create_account }}
                            <label class="" for="newaccount">Create an account</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <!-- <input type="checkbox" class="custom-control-input" id="shipto"> -->
                            {{ form.different_billing_address }}
                            <label class="" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse mb-5" id="shipping-address">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                <div class="bg-light p-30">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="apartment">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>Tehran</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="Tehran">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="Tehran">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    {% for order_item in object.items.all %}
                    <tr>
                        <div class="d-flex justify-content-between">
                            <p>{{ order_item.item.name }}</p>
                            <p>
                                {% if order_item.item.discount_price %}
                                    ${{ order_item.get_total_discount_item_price }}
                                {% else %}
                                    ${{ order_item.get_total_item_price }}
                                {% endif %}
                            </p>
                        </div>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='5'>Your cart is empty</td>
                    </tr>
                    {% endfor %}
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{ object.get_total }}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{shipping}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{ total }}</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        {% for value, name in form.fields.payment_option.choices %}
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="{{name}}" required>
                                <label class="custom-control-label" for="{{name}}">{{name}}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="creditcard">
                            <label class="custom-control-label" for="creditcard" data-toggle="collapse" data-target="#creditcard">Credit Card</label>
                        </div>
                    </div> -->
                    <div class="collapse mb-5" id="creditcard">
                        <div class="bg-light p-10">
                            <!-- <div class="row"> -->
                                <div class="col-md-10 form-group">
                                    <label>Credit Card Number</label>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col-md-5 form-group">
                                    <label>CVV2</label>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Expiration</label>
                                    <input class="form-control" type="text">
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->

{% endblock content %}
